PLAID_CLIENT_ID=your_plaid_client_id
PLAID_SECRET=your_plaid_sandbox_secret
PLAID_INSTITUTION_ID=ins_109508
PLAID_SANDBOX_USERNAME=user_transactions_dynamic
PLAID_SANDBOX_PASSWORD=pass_good
PLAID_WEBHOOK_URL=https://professor-reimburse-daylong.ngrok-free.dev

KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_TOPIC=plaid_transactions_raw
PLAID_WEBHOOK_TOPIC=plaid_webhooks
KAFKA_TO_MINIO_GROUP_ID=plaid-kafka-to-minio

WEBHOOK_PORT=5001

MINIO_ENDPOINT=http://localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_REGION=us-east-1
MINIO_BUCKET=plaid-data
MINIO_RAW_PREFIX=raw/transactions/
MINIO_PROCESSED_PREFIX=processed/transactions/
MINIO_MARKER_PREFIX=processed/_markers/
MINIO_POLL_SECONDS=1

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=plaid_transactions
POSTGRES_USER=plaid_user
POSTGRES_PASSWORD=plaid_password
